<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }} &lt;&lt; {% endif %}{{ site.name }}</title>
    {% if page.description %}
    <meta name="description" content="{{page.description}}" />
    {% else %}
    <meta name="description" content="{{site.description}}" />
    {% endif %}
    {% if page.categories %}
    <meta name="keywords" content="{{page.categories | join: ','}}" />
    {% else %}
    <meta name="keywords" content="{{site.keywords | join: ','}}" />
    {% endif %}
    {% if page.date %}
    <meta http-equiv="date" content="{{page.date |date: '%A, %d  %Y %H:%M:%S GMT'}}" />
    {% endif %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/app.css">

    <script src="/js/vendor/custom.modernizr.js"></script>

    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

  </head>
  <body>

  <!-- Nav Bar -->

    <div class="row">
      <div class="large-12 columns">
        <div class="nav-bar right">
         <!-- <ul class="button-group">
           <li><a href="#" class="button">Link 1</a></li>
           <li><a href="#" class="button">Link 2</a></li>
           <li><a href="#" class="button">Link 3</a></li>
           <li><a href="#" class="button">Link 4</a></li>
          </ul> -->
        </div>
        <h1><a href="/">{{ site.name }}</a> <small>Too new for a tagline.</small></h1>
        <hr />
      </div>
    </div>

    <!-- End Nav -->


    <!-- Main Page Content and Sidebar -->

    <div class="row">

      <!-- Main Blog Content -->
      <div class="large-9 columns" role="content">

        {{ content }}

      </div>

      <!-- End Main Content -->


      <!-- Sidebar -->

      <!-- <aside class="large-3 columns">

        <h5>Categories</h5>
        <ul class="side-nav">
          <li><a href="#">News</a></li>
          <li><a href="#">Code</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Fun</a></li>
          <li><a href="#">Weasels</a></li>
        </ul>

        <div class="panel">
          <h5>Featured</h5>
          <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
          <a href="#">Read More &rarr;</a>
        </div>

      </aside> -->

      <!-- End Sidebar -->
    </div>

    <!-- End Main Content and Sidebar -->


    <!-- Footer -->

    <footer class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-12 columns">
            <p>Unless stated otherwise; all works are &copy; Copyright Ben Harris and licenced under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</p>
          </div>
          <!-- <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </footer>

    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.ga }}']);
      _gaq.push(['_setDomainName', 'bharr.is']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>

